.latest {
  width: 35%;
  display: inline-block;
  margin: 1.5% 1%;
  vertical-align: top;
  padding: 1%;
  min-height: 12em;
}
  .latest img {
    height: 250px;
    width: 250px;
    float: none;
    margin: auto;
    display: block;
  }

.older {
  display: inline-block;
  margin-left: 1%;
  width: 55%;
  text-align: left;
}
  .older div {
    min-height: 75px;
    background-color: #9ec2d8;
    border-radius: 10px;
  }
  .older img {
    height: 50px;
    width: 50px;
    float: left;
    margin: 2%;
  }
  .older h3 {
    position: relative;
    top: 1.5em;
  }
  .older div:hover {
    background-color: #bbd4e3;
  }
.blogpost {
  background-color: #9ec2d8;
  border-radius: 10px;
  padding: 3%;
  margin-top: 1.5%;
  text-align: left;
}
  .blogpost h1 {
    text-align: center;
  }
  .blogpost img {
    display: inline-block;
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 2%;
  }

code {
  display: inline-block;
  padding: .5em;
  border-radius: 5px;
  background-color: #b1cedf;
}