code {
  display: inline-block;
  padding: .25em;
  border-radius: 5px;
  background-color: #b1cedf;
}
  pre code {
    width: 99%;
  }

.thumb {
  display: inline-block;
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 2%;
}

.content h1 {
  text-align: center;
}