/*
==========Colors==========
#f5faff white grey
#e1e1e1 light grey
#b0b0b0 grey
#7c7c7c dark grey
#494949 charchoal
#9ec2d8 base blue
#7e9bac darker blue
#b1cedf lighter blue
#bbd4e3 even lighter
#ff5555 red
*/

.debug {
  border: solid 1px red;
}

body {
  font-family: "Trebuchet MS", serif;
  color: black;
  background-color: #494949;
  margin: 0;
}

a {
  text-decoration: none;
  color: #3c2f2f;
}

.red {
  color: #ff5555;
}

.banner {
  background-image: url("../imgs/banner1.png");
  background-repeat: repeat-x;
  height: 150px;
  text-align: center;
}
  .bannerbox {
    position: relative;
    top: 35%;
    height: 4em;
    width: 20em;
    background-color: #9ec2d8;
    border: solid 2px black;
    border-radius: 10px;
    opacity: 0.9;
  }
  .banner h1 {
    position: relative;
    bottom: 20%;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
  }

.navigation {
  text-align: center;
}
  .navigation a {
    padding: 1em;
    display: inline-block;
    margin-right: -10px;
    color: #fff4e6;
    background-color: #494949;
  }
    .navigation a:hover {
      color: black;
      background-color: #f5faff;
    }

.backdrop {
  width: 100%;
  background-color: #f5faff;
  text-align: center;
}

.content {
  margin: 1%;
  padding: 1%;
  vertical-align: top;
  background-color: #9ec2d8;
  border-radius: 10px;
  text-align: left;
}

footer {
  margin: 2em 0;
  text-align: center;
  font-size: .75em;
  color: white;
}