.content {
  min-height: 12em;
}
  .content p {
    margin: 1% 5%;
  }
  .content:hover {
    background-color: #bbd4e3;
  }
  .iconpic {
    height: 100px;
    width: 100px;
    margin: 4%;
    display: inline-block;
    float: left;
  }
  .myphoto {
    height: 250px;
    float: left;
    margin: 2%;
  }

.socialmedia {
  float: right;
  }
  .socialmedia ul {
  list-style: none;
  }
  .socialmedia img {
    height: 40px;
    width: 40px;
    display: block;
    margin: 7px;
  }
  .socialmedia img:hover {
    height: 50px;
    width: 50px;
    margin: -5px 0px;
  }
