ul {
  display: inline-block;
  max-width: 37%;
}

h3 {
  clear: right;
}

.example {
  display: block;
  min-height: 5em;
  width: 22em;
  float: right;
  background-color: white;
  border: solid 2px black;
  padding: 1.5%;
  margin-right: 5%;
}
  #float {
    display: block;
    height: 3em;
    width: 8em;
    background-color: #e1e1e1;
    padding: 2%;
    margin-right: 1%;
  }
  #floater {
    display: block;
    float: left;
    padding: 5%;
    background-color: #7e9bac;
    color: white;
    margin: 2%;
  }
  #clear {
    text-align: center;
    display: block;
    height: 2em;
    background-color: #e1e1e1;
    padding: 20% 3% 3% 3%;
    clear: none;
  }
  #position {
    position: static;
    display: block;
    height: 9em;
    width: 12em;
    background-color: #ff5555;
    color: white;
    padding: 2%;
  }
  #display div {
    display: inline;
    margin: 1%;
    background-color: #e1e1e1;
    height: 3em;
    width: 5em;
  }
  #bmp {
    display: block;
    height: 4em;
    width: 15em;
    margin: auto;
    padding-top: 2em;
    text-align: center;
    background-color: #b1cedf;
    color: white;
  }